@import 'https://fonts.googleapis.com/css?family=Almendra+SC|Cormorant+Garamond|Gidugu|Lora|Playfair+Display|Roboto|Roboto+Slab';

/*font-family: 'Roboto', sans-serif;
font-family: 'Cormorant Garamond', serif; favorite thus far
font-family: 'Roboto Slab', serif;
font-family: 'Lora', serif; second favorite
font-family: 'Raleway'; favoritest
font-family: 'Almendra SC', serif;*/

html, body{
  /* background: url("./images/bg-1.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /*top:0;
    left: 0;
    margin: 0;*/
}
p {
  font-family: 'Raleway';
  color: white;
  font-size: 90px;
}

.sub-head {
  font-size: 50px;
}

.header-container{
  height: 55px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .86;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.header-link{
  font-family: 'Raleway';
  color: #fff;
  font-size: 1.3em;
}
.header-link a {
  text-decoration: none;
  color: #fff;
}
#part-one{
  height: 100vh;
}
.landing-page-container{
  background: url("./images/bg-1.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.center-text{
  font-size: 5em;
  color: #fff;
  padding-left: 20%;
  margin-top: -44%;
}

.wrapper-around-anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -15%;
}

/* #anchor1 {
  background: url('./images/down-arrow.png') center no-repeat;
} */

.anchor{
  height: 100px;
  width: 200px;
  /* background: url('./images/down-arrow.png') center no-repeat; */
  background-color: white;
  -webkit-clip-path: polygon(35% 51%, 66% 51%, 90% 22%, 85% 70%, 52% 100%, 17% 71%, 10% 22%);
clip-path: polygon(35% 51%, 66% 51%, 90% 22%, 85% 70%, 52% 100%, 17% 71%, 10% 22%);
}

#part-two{
  height: 100vh;
}
.landing-page-container-2{
  left:0;
  background: url("./images/bg-2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-text-pt-2{
  font-size: 5em;
  text-align: center;
}
.anchor-2{
  height: 100px;
  width: 200px;
  background-color: white;
  -webkit-clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
  clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
}
.wrapper-around-anchor-pt-2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -15%;
}
#part-three{
  height: 100vh;
}
.landing-page-container-3{
  background-image: url("./images/bg-3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper-around-anchor-pt-3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -10%;
}

#part-two-half{
  height: 100vh;
}

.container-twoish {
  background-image: url("./images/bio.jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-projects {
  background-image: url("./images/projects.jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
}

#header-container-1 {
  width: 100%;
  position: absolute;
  top: 60px;
  text-align: center;
  font-size: 5em;
  font-family: 'Raleway';
}

#info-container {
  width: 100%;
  text-align: center;
}

.prof-pic {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
}

.flexMe {
  display: flex;
  font-size: 46px;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.lefty {
  text-align: left!important;
}

.righty {
  text-align: right;
}

.fab-icons img {
  width: 29px;
  height: auto;
}

.open {
  display: none;
}

.facebook {
  margin-right: 12px;
}

.instagram {
  height: 26px;
  width: auto;
  margin-right: 12px;
  margin-bottom: -3px;
}

.github {
  height: 26px;
  width: auto;
  margin-bottom: -3px;
}

.skills-tag {
  position: relative;
}

.lightgray {
  color: #d3d3d3;
}

.cont-2 {
  margin-top: -100px
}

.cont-3 {
  /* position: absolute;
  margin-top: -156px; */
}

.cont-3 p {

  color: #565656;
}

.bio-text {
  font-size: 2em;
  padding: 17px;
}

@media (max-width: 2560px) {
  #anchor2 > div {
    margin-bottom: -120px;
  }
}

@media (max-width: 1024px) {
  .prof-pic {
    width: 56%;
  }

  .fab-icons img {
    width: 53px;
    height: auto;
  }

}

@media (max-width: 980px) {
  .landing-page-container {
    background-attachment: scroll;
  }
  .landing-page-container-2{
  background-attachment: scroll;
  }

  .landing-page-container-3{
    background-attachment: scroll;
  }

  .container-projects {
    background-attachment: scroll;
  }

}

/* .iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
} */


/* 16x9 Aspect Ratio*/
/* .iframe-container-16x9 {
  padding-bottom: 56.25%;
}
 */
/* 4x3 Aspect Ratio */
/* .iframe-container-4x3 {
  padding-bottom: 75%;
}  */

/* @media (max-width: 768px) {
  #anchor2 > div {
    margin-top: -33px;
  }

  #anchor3 > div {
    margin-top: -33px;
  }
} */
