@import 'https://fonts.googleapis.com/css?family=Almendra+SC|Cormorant+Garamond|Gidugu|Lora|Playfair+Display|Roboto|Roboto+Slab';

/*font-family: 'Roboto', sans-serif;
font-family: 'Cormorant Garamond', serif; favorite thus far
font-family: 'Roboto Slab', serif;
font-family: 'Lora', serif; second favorite
font-family: 'Raleway'; favoritest
font-family: 'Almendra SC', serif;*/

html, body{
  background: url("https://images.unsplash.com/photo-1491797512480-7898fca15e9e?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*top:0;
    left: 0;
    margin: 0;*/
}
p {
  font-family: 'Raleway';
  color: white;
  font-size: 90px;
}

.sub-head {
  font-size: 50px;
}

.header-container{
  height: 55px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .86;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.header-link{
  font-family: 'Raleway';
  color: #fff;
  font-size: 1.3em;
}
.header-link a {
  text-decoration: none;
  color: #fff;
}
#part-one{
  height: 100vh;
}
.landing-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.center-text{
  font-size: 5em;
  color: #fff;
  padding-left: 20%;
  margin-top: -44%;
}

.wrapper-around-anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -15%;
}

/* #anchor1 {
  background: url('./images/down-arrow.png') center no-repeat;
} */

.anchor{
  height: 100px;
  width: 200px;
  /* background: url('./images/down-arrow.png') center no-repeat; */
  background-color: white;
  -webkit-clip-path: polygon(35% 51%, 66% 51%, 90% 22%, 85% 70%, 52% 100%, 17% 71%, 10% 22%);
clip-path: polygon(35% 51%, 66% 51%, 90% 22%, 85% 70%, 52% 100%, 17% 71%, 10% 22%);
}

#part-two{
  height: 100vh;
}
.landing-page-container-2{
  left:0;
  background: url("https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?dpr=2&auto=format&fit=crop&w=1199&h=974&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-text-pt-2{
  font-size: 5em;
  text-align: center;
  margin-top: -48%;
}
.anchor-2{
  height: 100px;
  width: 200px;
  background-color: white;
  -webkit-clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
  clip-path: polygon(50% 84%, 91% 57%, 91% 75%, 50% 100%, 9% 75%, 9% 57%);
}
.wrapper-around-anchor-pt-2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -15%;
}
#part-three{
  height: 100vh;
}
.landing-page-container-3{
  left:0;
  background: url("https://images.unsplash.com/photo-1483121582001-2a1ee71de4d8?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-around-anchor-pt-3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -10%;
}

.catPic {
  height: 300px;
  width: 33%;
  display: inline-block;
  padding: 10px;
}

.catPic img {
  height: 100%;
  width: 100%;
}

.randomCatContainer {
  position: fixed;
  top: 8%;
}
.catPicRand img {
  height: 65vh;
  /*width: 45vw;*/
  position: fixed; /* or absolute */
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    /*left: 27%;*/
    cursor: pointer;
  /*display: flex;
  flex-direction: column;*/
}
.pleaseHold {
  font-family: 'Raleway';
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  top: 20%;
}
.header-link {
  cursor: pointer;
  text-decoration: none;
}
.catPicContainer {

  top: 10%;
}
.refresh {
  text-align: center;
  font-family: 'Raleway';
  line-height: 40px;
  color: white;
  font-size: 40px;
}
#resetCats {
  font-family: 'Raleway';
  font-size: 40%;
  border: 1px solid white;
  background: rgba(0,0,0, .6);
  color: white;
  width: 34vw;
  height: 8vh;
  outline: none;
  cursor: pointer;
  border-radius: 30px;

}
#resetBeer{
  font-family: 'Raleway';
  font-size: 85%;
  border: 1px solid white;
  background: rgba(0,0,0, .6);
  color: white;
  width: 20vw;
  height: 5vh;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}
.getMeABeer {
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-bottom: 20px;
}
.randomBeerContainer {
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  height: 65vh;
  /*width: 45vw;*/
  position: fixed; /* or absolute */
    top: 8%;
    left: 50%;
    transform: translate(-50%);
}
.randomBeerContainer img {
  height: 450px;
  margin-bottom: 20px;
}
.boldMe {
  color: #fcdede;
  font-weight: bold;
}

#header-container-1 {
  width: 100%;
  position: absolute;
  top: 60px;
  text-align: center;
  font-size: 5em;
  font-family: 'Raleway';
}

#info-container {
  width: 100%;
  text-align: center;
}

.prof-pic {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
}

.flexMe {
  display: flex;
  font-size: 30px;
  color: #fff;
}

.fab-icons img {
  width: 29px;
  height: auto;
}

.open {
  display: none;
}

.facebook {
  margin-right: 12px;
}

.instagram {
  height: 26px;
  width: auto;
  margin-right: 12px;
  margin-bottom: -3px;
}

.github {
  height: 26px;
  width: auto;
  margin-bottom: -3px;
}